*{
    margin: 0;
    padding: 0;
}
body{
    width: 1240px;
    margin: 0 auto;
    font-family: "Lato", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300;1,400&display=swap');

img{width: 100%;}
a{
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}
h1,h2,h3,h4,h5,h6{
    margin-bottom: 1rem;
}
p{
    line-height: 1.9rem;
    margin-bottom: 2rem;
}
h1{
    color: tomato;
    font-size: 60px;
}
h3{
    font-size: 30px;
    
}
.btn{
    padding: 10px 20px;
    background-image: linear-gradient(45deg, #FF257A, tomato);
    border-radius: 5px;
    color: white;
}
#header-bg{
    background-image: url(/header-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.top-area{
    display: flex;
    padding: 2rem;
    align-items: center;
    
}
.top-bio{
    width: 80%;
}

#top-bg{
    background-image: url(/biography-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#rasume{
    margin-left: 5%
}

.title{
    text-align: center;
    padding: 2rem;
    text-transform: capitalize;
}
.work-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1fr;
}
#latest-bg{
    background-image: url(/latest-work-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
#client-bg{
    background-image: url(/footer-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.client-say{
    text-align: center;
}
.client-say h6{color: rgb(119, 119, 119);font-weight: 300;font-size: 12px;}
.client-say p{font-size: 18px;line-height: 1.8em;}

.contact-info{
    text-align: center;
    margin-left: 25%;
    padding: 25px 20px;
    background-image: linear-gradient(45deg, #FF257A, #EC4D7F);
    border-radius: 5px;
    color: white;
    width: 50%;
    
}
footer{text-align: center; padding: 15px 10px;}
/*.top-bio{
    padding: 50px;
    margin-left: 0px;
}
.top-bio h1{
    font-size: 40px;
    margin: 0%;
}
.top-bio h3{
    font-size: 25px;
}
.top-bio p{
    font-size: 20px;
    margin-bottom: 2em;
}


 */
